<footer class="form-footer">
  <div class="footer-content">
    <p>2026<strong>Agencia Amiga</strong>. Todos los derechos reservados.</p>
    <p class="tech-by">Tecnología por <span class="agencia-brand">Agencia Amiga</span></p>
    
    <div class="footer-links">
      <a href="https://wa.me/542235824005?text=Hola!%20Necesito%20soporte%20con%20AmiApp" 
         target="_blank" 
         class="link-soporte">
        <span class="icon">💬</span> Contactar a soporte
      </a>
      
      <span class="separator">|</span>
      
   <a routerLink="/privacidad" target="_blank">Términos y Privacidad</a>
    </div>
  </div>
</footer>
