<aside class="sidebar" [class.open]="menuOpen">
  <div class="logo">
    <h2>AmiApp</h2>
  </div>

<!-- Versión optimizada del selector en el Sidebar -->
<div class="selector-profesional-sidebar" *ngIf="usuarioActual?.rol === 'secretaria'">
  <label>AGENDA DE:</label>
  <div class="select-wrapper">
    <select [(ngModel)]="profesionalSeleccionado" (change)="onProfesionalChange()">
      <option *ngFor="let prof of profesionalesAsignados" [ngValue]="prof">
        {{ prof.nombre }}
      </option>
    </select>
  </div>
</div>
  <nav class="menu-container">
    <ul class="menu-links">
      <!-- Inicio -->
      <li [class.locked]="!tienePermiso('Inicio')">
        <a routerLink="/dashboard/inicio" routerLinkActive="active" class="nav-item">
           <span class="nav-text">Inicio</span>
          <span *ngIf="usuarioActual?.rol === 'Secretaria' && !tienePermiso('Inicio')" class="lock-icon">🔒</span>
        </a>
      </li>

      <!-- Turnos -->
      <li [class.locked]="!tienePermiso('Turnos')">
        <a routerLink="/dashboard/turnos" routerLinkActive="active" class="nav-item">
          <span class="nav-text">Turnos</span>
          <span *ngIf="usuarioActual?.rol === 'Secretaria' && !tienePermiso('Turnos')" class="lock-icon">🔒</span>
        </a>
      </li>

      <!-- Clientes -->
      <li [class.locked]="!tienePermiso('Clientes')">
        <a routerLink="/dashboard/clientes" routerLinkActive="active" class="nav-item">
           <span class="nav-text">Clientes</span>
          <span *ngIf="usuarioActual?.rol === 'Secretaria' && !tienePermiso('Clientes')" class="lock-icon">🔒</span>
        </a>
      </li>

      <!-- Estadísticas -->
      <li [class.locked]="!tienePermiso('Estadísticas')">
        <a routerLink="/dashboard/estadisticas" routerLinkActive="active" class="nav-item">
         <span class="nav-text">Estadísticas</span>
          <span *ngIf="usuarioActual?.rol === 'Secretaria' && !tienePermiso('Estadísticas')" class="lock-icon">🔒</span>
        </a>
      </li>

      <!-- Gestión de Equipo -->
      <li [class.locked]="!tienePermiso('Gestión de Equipo')">
        <a routerLink="/dashboard/gestion-equipo" routerLinkActive="active" class="nav-item">
          <span class="nav-text">Gestión de Equipo</span>
          <span *ngIf="usuarioActual?.rol === 'Secretaria' && !tienePermiso('Gestión de Equipo')" class="lock-icon">🔒</span>
        </a>
      </li>
       <li [class.locked]="!tienePermiso('Periodo de inactividad')">
        <a routerLink="/dashboard/inactividad" routerLinkActive="active" class="nav-item">
         <span class="nav-text">Mi Consultorio</span>
          <span *ngIf="usuarioActual?.rol === 'Secretaria' && !tienePermiso('Periodo de inactividad')" class="lock-icon">🔒</span>
        </a>
      </li>
    </ul>
       <!-- Periodo de inactividad -->
     

    <ul class="menu-footer">
      <li class="logout" (click)="cerrarSesion()">
        <span>🚪</span> Cerrar Sesión
      </li>
    </ul>
  </nav>
</aside>